In [3]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'Name':['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
'category':['A', 'B', 'A', 'B', 'A', 'B'],
'value':np.random.randint(1, 5, size=6),
'score':np.random.randint(60, 100, size=6)
})
print("\nOriginal Dataframe:\n",df)

#Data grouping and Aggregation: with one column sum
df1=df.groupby(('Name'),as_index=False)['value'].sum()
print("\nGroup by name and Aggregation with one column:\n",df1)

#Data grouping and Aggregation: with two column sum
df2=df.groupby(('Name'),as_index=False)[['value','score']].sum()
print("\nGroup by name and Aggregation with two column:\n",df2)

#Data grouping and Aggregation: with one column sum
df3=df.groupby(('Name'),as_index=False)['value'].agg('sum')
print("\nGroup by name and Aggregation with one column using agg function:\n",df3)

#Group by 'Name' and calculate multiple aggregations
df4 = df.groupby('Name').agg({
'value': ['sum', 'mean', 'min', 'max'],
'score': ['sum', 'mean']})

print("\nGroup by name and multiple Aggregation functions :\n", df4)
df5=df.groupby(('Name'),as_index=False)['value'].count()
print("\nGroup and count:\n",df5)
df6=df.groupby(('Name')).count()
print("\nGroup and count:\n",df6)
df7=df.groupby(('Name'),as_index=False)['value'].first()
print("\nGroup and display from first:\n",df7)
df8=df.groupby(('Name')).first()
print("\nGroup and display from first:\n",df8)
df9=df.groupby(('Name'),as_index=False)['value'].last()
print("\nGroup and display from last:\n",df9)
df10=df.groupby(('Name')).last()
print("\nGroup and display from last:\n",df10)
df11=df.groupby(('Name'),as_index=False)['value'].size()
print("\nGroup and display size:\n",df11)

Original Dataframe:
       Name category  value  score
0    Alice        A      3     64
1      Bob        B      3     93
2  Charlie        A      1     89
3    Alice        B      3     96
4      Bob        A      3     73
5  Charlie        B      3     63

Group by name and Aggregation with one column:
       Name  value
0    Alice      6
1      Bob      6
2  Charlie      4

Group by name and Aggregation with two column:
       Name  value  score
0    Alice      6    160
1      Bob      6    166
2  Charlie      4    152

Group by name and Aggregation with one column using agg function:
       Name  value
0    Alice      6
1      Bob      6
2  Charlie      4

Group by name and multiple Aggregation functions :
         value              score
          sum mean min max   sum  mean
Name
Alice       6  3.0   3   3   160  80.0
Bob         6  3.0   3   3   166  83.0
Charlie     4  2.0   1   3   152  76.0

Group and count:
       Name  value
0    Alice      2
1      Bob      2
2  Charlie      2

Group and count:
          category  value  score
Name
Alice           2      2      2
Bob             2      2      2
Charlie         2      2      2

Group and display from first:
       Name  value
0    Alice      3
1      Bob      3
2  Charlie      1

Group and display from first:
         category  value  score
Name
Alice          A      3     64
Bob            B      3     93
Charlie        A      1     89

Group and display from last:
       Name  value
0    Alice      3
1      Bob      3
2  Charlie      3

Group and display from last:
         category  value  score
Name
Alice          B      3     96
Bob            A      3     73
Charlie        B      3     63

Group and display size:
       Name  size
0    Alice     2
1      Bob     2
2  Charlie     2